package pages

import (
	"@@MODULE@@/fragments/layouts"

	"github.com/Elagoht/collage/pkg/collage"
)

// homeView is what templates/pages/home.html renders with, as ".".
type homeView struct {
	Name string
}

func HomePage() *collage.Page {
	content := collage.NewFragment("home-content", "pages/home.html").
		WithDataHandler(collage.Data(homeView{Name: "@@NAME@@"})).
		Build()

	return collage.NewPage("home").
		WithLayout(layouts.Layout()).
		WithContent(content).
		WithPath("en", "/").
		Static().
		Build()
}
